<!-- <div class="container">
  <label for="th">Thème:</label><select name="th"
    id="th" #th
    (change)='setTheme(th.value)'>
    <option value="Pink">Pink</option>
    <option value="Blue">Blue</option>
    <option value="Green">Green</option>
  </select>
</div>

<div class="container"
  [ngClass]="{'Pink': P, 'Blue': B , 'Green': G }">
  <ul *ngFor="let student of Students">
    <li>{{student.name| uppercase}} {{student.email|slice:0:6}}</li>
  </ul>
</div> -->
<app-header></app-header>
<app-users-list></app-users-list>
<app-footer></app-footer>
